<div class="container">
  <div class="row" style="text-align:center">
    <div class="col">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Job Name</h5>
          <p class="card-text text-muted">Company Name</p>
          <div class="container">
            <div class="row">
              <div class="col">
                <strong>Requirements (no. of candidates with skill set)</strong>
                <ul>
                  <li>qwerty (22)</li>
                  <li>qwerty (17)</li>
                  <li>qwerty (62)</li>
                  <li>qwerty (2)</li>
                </ul>
              </div>
              <div class="col">
                <strong>Best Candidate Skills Set</strong>
                <ul>
                  <li>qwerty</li>
                  <li>qwerty</li>
                  <li>qwerty</li>
                  <li>qwerty</li>
                </ul>
              </div>
            </div>
          </div>

          <strong>Best Candidate ID: Qwerty</strong>
          <br />
          <strong>Best Candidate Name: Qwerty</strong>
        </div>
      </div>
    </div>
  </div>
</div>
